<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Employee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css">
    {% comment %} <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css"> {% endcomment %}
    <link rel="stylesheet" href="static/css/base.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'img/icon.svg' %}" />
  </head>
  <body>
    <div class="container-scroller">
      
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand brand-logo" href="index.html"><img src="static/img/udmclinic.png" alt="logo" /></a>
          <a class="navbar-brand brand-logo-mini" href="index.html"><img src="static/img/icon.svg" alt="logo" /></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
        
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="static/img/lofranco.png" alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">
                    {% for employee in employee_data %}
                      {% if employee.empID == user.id %}
                        {{employee.empName}}
                      {% endif %}
                    {% endfor %}
                  </p>
                </div>
              </a>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
            <li class="nav-item nav-logout d-none d-lg-block">
              <a class="nav-link" href="/">
                <i class="mdi mdi-power"></i>
              </a>
            </li>
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav position-fixed">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="static/img/lofranco.png" alt="profile">
                  <span class="login-status online"></span>
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  {% for employee in employee_data %}
                    {% if employee.empID == user.id %}
                      <span class="font-weight-bolder mb-2" style="width:6.5vw;">
                        {{ employee.empName | split_name }}
                      </span>
                      <span class="text-secondary text-small">{{employee.empRole}}</span>
                    {% endif %}
                  {% endfor %}
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="base">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profile">
                <span class="menu-title">Profile</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                  <span class="menu-title">Records</span>
                  <i class="menu-arrow"></i>
                  <i class="mdi mdi-file-find menu-icon"></i>
                </a>
                <div class="collapse" id="ui-basic">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="employee">Employee</a></li>
                    <li class="nav-item"> <a class="nav-link">Medical</a></li>
                    <li class="nav-item"> <a class="nav-link" href="consultation">Consultation</a></li>
                    <li class="nav-item"> <a class="nav-link" href="consulted">Consulted</a></li>
                    <li class="nav-item"> <a class="nav-link" href="illness">Illness</a></li>
                  </ul>
                </div>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="tracklogs">
                <span class="menu-title">Track Logs</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/charts/chartjs.html">
                <span class="menu-title">Settings</span>
                <i class="mdi mdi-cog menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white me-2">
                  <i class="mdi mdi-account-group-outline"></i>
                </span> Employee
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <h3 id="message-validate">{% if messages %}
                {% for message in messages %}
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
              {% endif %}</h3>

              <button type="button" class="btn btn-primary" id="addButton" data-bs-toggle="modal" data-bs-target="#myModal">
                New Employee
              </button>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">New Employee</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'employee' %}">
                      {% csrf_token %}
                      <div class="modal-body w-5">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="empName">Name</label>
                              <input type="text" class="form-control" name="empName" placeholder="Name">
                            </div>
    
                            <div class="form-group">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
    
                            <div class="form-group">
                              <label for="empPhoneNum">Phone Number</label>
                              <input type="number" class="form-control" name="empPhoneNum" placeholder="Phone Number">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
    
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" name="password" placeholder="Password">
                            </div>
    
                            <div class="form-group">
                              <label for="role">Role</label>
                              <select class="form-control" name="empRole" id="role">
                                <option value="" disabled selected hidden>Choose Role</option>
                                <option value="Dentist">Dentist</option>
                                <option value="Staff">Staff</option>
                                <option value="Doctor">Doctor</option>
                                <option value="OJT">OJT</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="table-wrapper-scroll-y my-custom-scrollbar consultTable">
                <table class="table table-bordered table-striped mb-0">
                    <thead class="sticky-header">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Role</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for record in employee_data %}
                      <tr>
                        <th scope="row">{{ record.empID }}</th>
                        <td>{{ record.empName }}</td>
                        <td>{{ record.empPhoneNum }}</td>
                        <td>{{ record.empRole }}</td>
                      </tr>
                      {% empty %}
                      <tr>
                        <td colspan="3">No records found.</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="row">
              
            </div>
            <div class="row">
            
            </div>
            <div class="row">
              {% comment %}  {% endcomment %}
            </div>
            <div class="row">
             {% comment %}  {% endcomment %}
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            {% comment %} <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div> {% endcomment %}
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <script src="{% static 'vendor/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>

    {% comment %} <!-- container-scroller -->
    <!-- plugins:js -->
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/todolist.js"></script>
    <!-- End custom js for this page --> {% endcomment %}
  </body>
</html>